// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap



@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';
@import '~normalize.css/normalize.css';


body{
    // background: #1E1E1E;
    background:white;
    color:black !important;


}

.badge{
    margin: auto 10px !important;
}





    .navbar-nav li.nav-item > a.nav-link {
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
        font-family: cursive;

    }



.card{
    padding:0;
    margin:10px;
    background: white;
    color:#1E1E1E;
    // background: #343A40;

    .card-header{
        // background: #343A40;
        background: white;
        border-radius: 0px;
        padding: 4px;
    }

    .card-body{
        padding: 8px;
        margin: 0;
        color:grey;


        & .post-img-box a > img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        & .content-box{
            padding: 10px;
            box-sizing: border-box;
        }
    }

    .card-footer{
        border-radius: 0px;
        background:white;
    }
}
#search-box{
    padding: 10px;

    & form > input{
        width: 95%;
    }

    & form i{
        color:#343A40;
        ;
        position: absolute;
        right: 40px;
        cursor: pointer;
    }
}

#recent-posts{
    & ul.list-group.list-group-flush{


        & li{

            background: white;
            border-left:2px solid #343A40;
        }
    }
}

#dropdown-categories {

    & a.nav-link{
        text-transform: uppercase;

        font-weight: bold;

        &:visited{
            color:white;
        }
        &:link{
            color:white;
        }
    }

}

#dropdown{

    & a.dropdown-item{
        color: gray;

         &:link{
          color:gray;
         }

        &:hover{
            color:skyblue;
        }
    }
}

#admin-content-box{
    position: relative;
    padding: 0;
    border-radius: 0;

    & .content{
        position: absolute;
        bottom:0;
        text-align: center;
        padding: 50px 20px;
        width: 100%;
        height: 100%;
        color: white;
        background: rgba(0, 0, 0, 0.2);

        & h4{
            padding: 10px;

        }

    }

    & .content:hover{
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}

 img#user-avatar{

        width:50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;;

}
#card-edit-img{
    & .card-body{
        padding: 10px;
        margin: 0 auto;
    }

    & #user-edit-img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}


#file-label{
    cursor: pointer;
}
#file{
    display: none;
}
#datatable{
    color: white;
}


#wrapper{

    & .sidebar{
        width: 18rem;
        background: blue;
    }
    & .rightside{
        width: 100%;
    }
}


.rounded-circle{
    width: 60px;
    height: 60px;
    object-fit: cover;
}


